parameters:
  level: 9
  paths:
    - public
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    -
      message: '#Dead catch - Doctrine\\ORM\\NoResultException is never thrown in the try block#'
      path: src/Repository/RemoteRequestRepository.php
