parameters:
  level: 9
  paths:
    - public
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    -
      message: "#Strict comparison using === between '' and non-empty-string will always evaluate to false#"
      path: src/Entity/RemoteRequest.php
